@import url("Roboto Regular.css");
@import url("Roboto Light V1.css");
@import url("Roboto Medium V1.css");
@import url("RobotoSlab-Regular.css");
/* line 6, ../sass/style.sass */
* {
  box-sizing: border-box;
}

/* line 9, ../sass/style.sass */
body {
  margin: 0 0;
}

/* line 12, ../sass/style.sass */
.under_menu {
  height: 45px;
  width: 100%;
  background: #6E6E6E;
  font-family: "Roboto Reg";
}
/* line 17, ../sass/style.sass */
.under_menu div {
  line-height: 45px;
  height: 45px;
  float: left;
}
/* line 21, ../sass/style.sass */
.under_menu div:nth-child(1) {
  margin-left: 14.4%;
}
/* line 23, ../sass/style.sass */
.under_menu div:nth-child(2) {
  margin-left: 10.13%;
}
/* line 25, ../sass/style.sass */
.under_menu div:nth-child(3) {
  margin-left: 15.55%;
}
/* line 27, ../sass/style.sass */
.under_menu div:nth-child(4) {
  margin-left: 9.8%;
  color: #ffffff;
  padding-top: 8px;
  cursor: pointer;
}
/* line 32, ../sass/style.sass */
.under_menu div:nth-child(4) span {
  border: 1px solid #ffffff;
  border-radius: 15px;
  float: left;
  height: 27px;
  line-height: 27px;
  padding-left: 7px;
  padding-right: 2px;
}
/* line 40, ../sass/style.sass */
.under_menu div:nth-child(4) span svg {
  margin-left: 8px;
  width: 1.1vw;
  height: 25px;
  float: right;
}
/* line 45, ../sass/style.sass */
.under_menu div a {
  color: #ffffff;
  font-size: 0.92vw;
  text-decoration: none;
  display: inline-block;
}
/* line 50, ../sass/style.sass */
.under_menu div a span {
  height: 45px;
  float: left;
  margin-right: 10px;
}
/* line 54, ../sass/style.sass */
.under_menu div a span svg {
  fill: #ffffff;
  width: 1.3vw;
  height: 45px;
}
/* line 58, ../sass/style.sass */
.under_menu div a:hover {
  transition: 0.3s all;
  color: #4FB562;
}
/* line 61, ../sass/style.sass */
.under_menu div a:hover svg {
  transition: 0.3s all;
  fill: #4FB562;
}
/* line 64, ../sass/style.sass */
.under_menu div a:not(:hover) {
  transition: 0.7s all;
}
/* line 66, ../sass/style.sass */
.under_menu div a:not(:hover) svg {
  transition: 0.7s all;
}

/* line 70, ../sass/style.sass */
.menu {
  height: 135px;
}

/* line 74, ../sass/style.sass */
.search_icon {
  height: 30%;
}
/* line 76, ../sass/style.sass */
.search_icon svg {
  margin-top: 14px;
  margin-left: 33.7%;
  cursor: pointer;
  width: 25px;
  height: 25px;
  fill: #B7B7B7;
}
/* line 83, ../sass/style.sass */
.search_icon svg:hover {
  transition: 0.3s all;
  fill: #0000ff;
}
/* line 86, ../sass/style.sass */
.search_icon svg:not(:hover) {
  transition: 0.7s all;
}

/* line 90, ../sass/style.sass */
.left_menu {
  width: 43%;
  height: 100%;
  float: left;
}
/* line 94, ../sass/style.sass */
.left_menu ul {
  display: block;
  height: 70%;
  margin: 0 0;
  padding: 0 0;
}
/* line 99, ../sass/style.sass */
.left_menu ul li {
  float: left;
  list-style: none;
  font-family: "Roboto Lt";
  font-size: 22px;
  letter-spacing: -0.015em;
  margin-top: 12px;
}
/* line 106, ../sass/style.sass */
.left_menu ul li a {
  padding: 8px 20px 10px;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 25px;
  color: #4a4a4a;
  text-decoration: none;
}
/* line 112, ../sass/style.sass */
.left_menu ul li a:hover {
  transition: 0.3s all;
  border: 1px solid #4a4a4a;
}
/* line 115, ../sass/style.sass */
.left_menu ul li a:not(:hover) {
  transition: 0.7s all;
}
/* line 117, ../sass/style.sass */
.left_menu ul li:nth-child(1) {
  margin-left: 31.2%;
}
/* line 119, ../sass/style.sass */
.left_menu ul li:nth-child(2) {
  margin-left: 3.3%;
  letter-spacing: -0.01em;
}
/* line 122, ../sass/style.sass */
.left_menu ul li:nth-child(3) {
  margin-left: 1.7%;
}

/* line 126, ../sass/style.sass */
.logo {
  float: left;
  height: 100%;
  width: 14%;
  text-align: center;
}
/* line 131, ../sass/style.sass */
.logo img {
  margin-top: 14px;
}

/* line 135, ../sass/style.sass */
.right_menu {
  float: left;
  height: 100%;
  width: 43%;
}
/* line 136, ../sass/style.sass */
.right_menu .empty {
  width: 100%;
  height: 30%;
  float: left;
  display: block;
}
/* line 144, ../sass/style.sass */
.right_menu ul {
  display: block;
  float: left;
  height: 100%;
  width: 45%;
  margin: 0 0;
  padding: 0 0;
}
/* line 151, ../sass/style.sass */
.right_menu ul li {
  float: left;
  list-style: none;
  font-family: "Roboto Lt";
  font-size: 22px;
  letter-spacing: -0.015em;
  margin-top: 12px;
}
/* line 158, ../sass/style.sass */
.right_menu ul li a {
  padding: 8px 20px 10px;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 25px;
  color: #4a4a4a;
  text-decoration: none;
}
/* line 164, ../sass/style.sass */
.right_menu ul li a:hover {
  transition: 0.3s all;
  border: 1px solid #4a4a4a;
}
/* line 167, ../sass/style.sass */
.right_menu ul li a:not(:hover) {
  transition: 0.7s all;
}
/* line 169, ../sass/style.sass */
.right_menu ul li:nth-child(2) {
  margin-left: 3.2%;
}
/* line 171, ../sass/style.sass */
.right_menu ul li:nth-child(3) {
  margin-left: 7%;
  letter-spacing: -0.085em;
}

/* line 177, ../sass/style.sass */
.phone {
  float: left;
  width: 55%;
  height: 100%;
  font-family: "Roboto Lt";
}
/* line 182, ../sass/style.sass */
.phone div:nth-child(1) {
  height: 30%;
  padding-top: 10px;
  padding-left: 17px;
}
/* line 186, ../sass/style.sass */
.phone div:nth-child(1) a {
  text-decoration: none;
  color: #4a4a4a;
  font-size: 22px;
  letter-spacing: -0.03em;
}
/* line 191, ../sass/style.sass */
.phone div:nth-child(1) a:hover {
  transition: 0.3s all;
  color: #0000ff;
}
/* line 194, ../sass/style.sass */
.phone div:nth-child(1) a:not(:hover) {
  transition: 0.7s all;
}
/* line 196, ../sass/style.sass */
.phone div:nth-child(2) {
  display: inline-block;
  padding: 2px;
  margin-top: 2px;
  border-radius: 30px;
  background: #15b17f linear-gradient(270deg, #9acd5a, #15b17f);
}
/* line 202, ../sass/style.sass */
.phone div:nth-child(2) a {
  font-size: 18px;
  display: inline-block;
  padding: 5px 20px 5px 25px;
  border-radius: 30px;
  color: #4a4a4a;
  background: #ffffff;
  text-decoration: none;
}
/* line 210, ../sass/style.sass */
.phone div:nth-child(2) a:hover {
  transition: 0.3s all;
  box-shadow: 0 0 25px rgba(163, 163, 163, 0.5);
}
/* line 213, ../sass/style.sass */
.phone div:nth-child(2) a:not(:hover) {
  transition: 0.7s all;
}

/* line 217, ../sass/style.sass */
.bx-viewport {
  max-height: 700px;
}

/* line 221, ../sass/style.sass */
.slides {
  position: relative;
}

/* line 225, ../sass/style.sass */
.text_on_top {
  position: absolute;
  top: -20%;
  left: 38%;
  width: 24%;
  height: 35%;
  background-color: white;
  border-bottom-left-radius: 500px;
  border-bottom-right-radius: 500px;
  padding-top: 10.65%;
  text-align: center;
  z-index: 120;
}
/* line 237, ../sass/style.sass */
.text_on_top span:nth-child(1) {
  display: block;
  font-family: "Roboto";
  font-size: 40px;
  text-transform: uppercase;
  color: #494949;
}
/* line 243, ../sass/style.sass */
.text_on_top span:nth-child(2) {
  font-family: "Roboto Reg";
  font-size: 20px;
  display: block;
  line-height: 1.12em;
  margin-top: 3px;
  color: #494949;
}

/* line 252, ../sass/style.sass */
.text_on_right {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 56.3%;
  background-color: rgba(0, 145, 255, 0.5);
  z-index: 100;
  border-bottom-left-radius: 150px;
  padding-top: 11.45%;
  padding-left: 5.1%;
}
/* line 263, ../sass/style.sass */
.text_on_right span:nth-child(1) {
  display: block;
  font-family: "Roboto Slab";
  font-size: 75px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}
/* line 269, ../sass/style.sass */
.text_on_right span:nth-child(2) {
  display: block;
  margin-top: 0.75%;
  font-family: "Roboto Reg";
  font-size: 30px;
  line-height: 1.6em;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}

/* line 280, ../sass/style.sass */
.pic_up {
  display: block;
  margin-top: -180px;
}

/* line 284, ../sass/style.sass */
.catalog_viewer {
  display: inline-block;
  width: 100%;
  padding-left: 13.6%;
  overflow: hidden;
  margin-top: 50px;
}

/* line 292, ../sass/style.sass */
.catalog_title {
  float: left;
  cursor: pointer;
  border: 2px solid rgba(0, 0, 255, 0);
  border-radius: 10em;
  margin-left: 3.8%;
  padding: 3px 15px 5px 15px;
  font-size: 24px;
  font-family: "Roboto Reg";
  letter-spacing: -0.01em;
  color: #484848;
}
/* line 303, ../sass/style.sass */
.catalog_title:hover {
  color: #54B5FA;
  transition: 0.3s all;
  border: 2px solid #54B5FA;
}
/* line 307, ../sass/style.sass */
.catalog_title:not(:hover) {
  transition: 0.7s all;
}
/* line 309, ../sass/style.sass */
.catalog_title:nth-child(1) {
  margin-left: 0;
}

/* line 312, ../sass/style.sass */
.theme_of_title {
  width: 41%;
  margin-top: 104px;
  padding-left: 14px;
}
/* line 316, ../sass/style.sass */
.theme_of_title a {
  font-family: "Roboto Slab";
  font-size: 71px;
  line-height: 1.28em;
  display: inline-block;
  background: #15b17f linear-gradient(90deg, #0cba2e, #00c4ff);
  text-decoration: none;
}
/* line 323, ../sass/style.sass */
.theme_of_title a span {
  display: inline-block;
  color: #000;
  background: #fff;
  mix-blend-mode: lighten;
}
/* line 328, ../sass/style.sass */
.theme_of_title p {
  font-family: "Roboto Lt";
  font-size: 24px;
  overflow: hidden;
  max-height: 210px;
  margin-top: 48px;
  line-height: 1.5em;
  padding-left: 3px;
  letter-spacing: -0.015em;
}
