@import url("Roboto Regular.css");
@import url("Roboto Light V1.css");
@import url("Roboto Medium V1.css");
@import url("RobotoSlab-Regular.css");
/* line 6, ../sass/style.sass */
* {
  box-sizing: border-box;
}

/* line 9, ../sass/style.sass */
body {
  margin: 0 0;
}

/* line 12, ../sass/style.sass */
.under_menu {
  height: 45px;
  width: 100%;
  background: #6E6E6E;
  font-family: "Roboto Reg";
}
/* line 17, ../sass/style.sass */
.under_menu div {
  line-height: 45px;
  height: 45px;
  float: left;
}
/* line 21, ../sass/style.sass */
.under_menu div:nth-child(1) {
  margin-left: 14.4%;
}
/* line 23, ../sass/style.sass */
.under_menu div:nth-child(2) {
  margin-left: 10.13%;
}
/* line 25, ../sass/style.sass */
.under_menu div:nth-child(3) {
  margin-left: 15.55%;
}
/* line 27, ../sass/style.sass */
.under_menu div:nth-child(4) {
  margin-left: 9.8%;
  color: #ffffff;
  padding-top: 8px;
  cursor: pointer;
}
/* line 32, ../sass/style.sass */
.under_menu div:nth-child(4) span {
  border: 1px solid #ffffff;
  border-radius: 15px;
  float: left;
  height: 27px;
  line-height: 27px;
  padding-left: 7px;
  padding-right: 2px;
}
/* line 40, ../sass/style.sass */
.under_menu div:nth-child(4) span svg {
  margin-left: 8px;
  width: 1.1vw;
  height: 25px;
  float: right;
}
/* line 45, ../sass/style.sass */
.under_menu div a {
  color: #ffffff;
  font-size: 0.92vw;
  text-decoration: none;
  display: inline-block;
}
/* line 50, ../sass/style.sass */
.under_menu div a span {
  height: 45px;
  float: left;
  margin-right: 10px;
}
/* line 54, ../sass/style.sass */
.under_menu div a span svg {
  fill: #ffffff;
  width: 1.3vw;
  height: 45px;
}
/* line 58, ../sass/style.sass */
.under_menu div a:hover {
  transition: 0.3s all;
  color: #4FB562;
}
/* line 61, ../sass/style.sass */
.under_menu div a:hover svg {
  transition: 0.3s all;
  fill: #4FB562;
}
/* line 64, ../sass/style.sass */
.under_menu div a:not(:hover) {
  transition: 0.7s all;
}
/* line 66, ../sass/style.sass */
.under_menu div a:not(:hover) svg {
  transition: 0.7s all;
}

/* line 70, ../sass/style.sass */
.menu {
  height: 135px;
}

/* line 74, ../sass/style.sass */
.search_icon {
  height: 30%;
}
/* line 76, ../sass/style.sass */
.search_icon svg {
  margin-top: 14px;
  margin-left: 33.7%;
  cursor: pointer;
  width: 25px;
  height: 25px;
  fill: #B7B7B7;
}
/* line 83, ../sass/style.sass */
.search_icon svg:hover {
  transition: 0.3s all;
  fill: #0000ff;
}
/* line 86, ../sass/style.sass */
.search_icon svg:not(:hover) {
  transition: 0.7s all;
}

/* line 90, ../sass/style.sass */
.left_menu {
  width: 43%;
  height: 100%;
  float: left;
}
/* line 94, ../sass/style.sass */
.left_menu ul {
  display: block;
  height: 70%;
  margin: 0 0;
  padding: 0 0;
}
/* line 99, ../sass/style.sass */
.left_menu ul li {
  float: left;
  list-style: none;
  font-family: "Roboto Lt";
  font-size: 22px;
  letter-spacing: -0.015em;
  margin-top: 12px;
}
/* line 106, ../sass/style.sass */
.left_menu ul li a {
  padding: 8px 20px 10px;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 25px;
  color: #4a4a4a;
  text-decoration: none;
}
/* line 112, ../sass/style.sass */
.left_menu ul li a:hover {
  transition: 0.3s all;
  border: 1px solid #4a4a4a;
}
/* line 115, ../sass/style.sass */
.left_menu ul li a:not(:hover) {
  transition: 0.7s all;
}
/* line 117, ../sass/style.sass */
.left_menu ul li:nth-child(1) {
  margin-left: 31.2%;
}
/* line 119, ../sass/style.sass */
.left_menu ul li:nth-child(2) {
  margin-left: 3.3%;
  letter-spacing: -0.01em;
}
/* line 122, ../sass/style.sass */
.left_menu ul li:nth-child(3) {
  margin-left: 1.7%;
}

/* line 126, ../sass/style.sass */
.logo {
  float: left;
  height: 100%;
  width: 14%;
  text-align: center;
}
/* line 131, ../sass/style.sass */
.logo img {
  margin-top: 14px;
}

/* line 135, ../sass/style.sass */
.right_menu {
  float: left;
  height: 100%;
  width: 43%;
}
/* line 136, ../sass/style.sass */
.right_menu .empty {
  width: 100%;
  height: 30%;
  float: left;
  display: block;
}
/* line 141, ../sass/style.sass */
.right_menu .hide_part {
  display: none;
}
/* line 143, ../sass/style.sass */
.right_menu .hide_part span:nth-child(1) {
  display: block;
  font-family: "Roboto";
  font-size: 2.5vw;
  text-transform: uppercase;
  color: #494949;
}
/* line 149, ../sass/style.sass */
.right_menu .hide_part span:nth-child(2) {
  font-family: "Roboto Reg";
  font-size: 1.5vw;
  display: block;
  margin-top: 3px;
  color: #494949;
}
/* line 158, ../sass/style.sass */
.right_menu ul {
  display: block;
  float: left;
  height: 100%;
  width: 45%;
  margin: 0 0;
  padding: 0 0;
}
/* line 165, ../sass/style.sass */
.right_menu ul li {
  float: left;
  list-style: none;
  font-family: "Roboto Lt";
  font-size: 22px;
  letter-spacing: -0.015em;
  margin-top: 12px;
}
/* line 172, ../sass/style.sass */
.right_menu ul li a {
  padding: 8px 20px 10px;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 25px;
  color: #4a4a4a;
  text-decoration: none;
}
/* line 178, ../sass/style.sass */
.right_menu ul li a:hover {
  transition: 0.3s all;
  border: 1px solid #4a4a4a;
}
/* line 181, ../sass/style.sass */
.right_menu ul li a:not(:hover) {
  transition: 0.7s all;
}
/* line 183, ../sass/style.sass */
.right_menu ul li:nth-child(2) {
  margin-left: 3.2%;
}
/* line 185, ../sass/style.sass */
.right_menu ul li:nth-child(3) {
  margin-left: 7%;
  letter-spacing: -0.085em;
}

/* line 191, ../sass/style.sass */
.phone {
  float: left;
  width: 55%;
  height: 100%;
  font-family: "Roboto Lt";
}
/* line 196, ../sass/style.sass */
.phone div:nth-child(1) {
  height: 30%;
  padding-top: 10px;
  padding-left: 17px;
}
/* line 200, ../sass/style.sass */
.phone div:nth-child(1) a {
  text-decoration: none;
  color: #4a4a4a;
  font-size: 22px;
  letter-spacing: -0.03em;
}
/* line 205, ../sass/style.sass */
.phone div:nth-child(1) a:hover {
  transition: 0.3s all;
  color: #0000ff;
}
/* line 208, ../sass/style.sass */
.phone div:nth-child(1) a:not(:hover) {
  transition: 0.7s all;
}
/* line 210, ../sass/style.sass */
.phone div:nth-child(2) {
  display: inline-block;
  padding: 2px;
  margin-top: 2px;
  border-radius: 30px;
  background: #15b17f linear-gradient(270deg, #9acd5a, #15b17f);
}
/* line 216, ../sass/style.sass */
.phone div:nth-child(2) a {
  font-size: 18px;
  display: inline-block;
  padding: 5px 20px 5px 25px;
  border-radius: 30px;
  color: #4a4a4a;
  background: #ffffff;
  text-decoration: none;
}
/* line 224, ../sass/style.sass */
.phone div:nth-child(2) a:hover {
  transition: 0.3s all;
  box-shadow: 0 0 25px rgba(163, 163, 163, 0.5);
}
/* line 227, ../sass/style.sass */
.phone div:nth-child(2) a:not(:hover) {
  transition: 0.7s all;
}

/* line 230, ../sass/style.sass */
.menu_btn {
  float: right;
  margin-top: 20px;
  display: none;
}
/* line 234, ../sass/style.sass */
.menu_btn svg {
  width: 5vw;
}
/* line 236, ../sass/style.sass */
.menu_btn svg:hover {
  transition: 0.3s all;
  fill: #0000ff;
}
/* line 239, ../sass/style.sass */
.menu_btn svg:not(:hover) {
  transition: 0.7s all;
}

/* line 243, ../sass/style.sass */
.bx-viewport {
  max-height: 700px;
}

/* line 247, ../sass/style.sass */
.slides {
  position: relative;
}

/* line 251, ../sass/style.sass */
.text_on_top {
  position: absolute;
  top: -20%;
  left: 38%;
  width: 24%;
  height: 35%;
  background-color: white;
  border-bottom-left-radius: 500px;
  border-bottom-right-radius: 500px;
  padding-top: 10.65%;
  text-align: center;
  z-index: 120;
}
/* line 263, ../sass/style.sass */
.text_on_top span:nth-child(1) {
  display: block;
  font-family: "Roboto";
  font-size: 40px;
  text-transform: uppercase;
  color: #494949;
}
/* line 269, ../sass/style.sass */
.text_on_top span:nth-child(2) {
  font-family: "Roboto Reg";
  font-size: 20px;
  display: block;
  line-height: 1.12em;
  margin-top: 3px;
  color: #494949;
}

/* line 278, ../sass/style.sass */
.text_on_right {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 56.3%;
  background-color: rgba(0, 145, 255, 0.5);
  z-index: 100;
  border-bottom-left-radius: 150px;
  padding-top: 11.45%;
  padding-left: 5.1%;
}
/* line 289, ../sass/style.sass */
.text_on_right span:nth-child(1) {
  display: block;
  font-family: "Roboto Slab";
  font-size: 75px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}
/* line 295, ../sass/style.sass */
.text_on_right span:nth-child(2) {
  display: block;
  margin-top: 0.75%;
  font-family: "Roboto Reg";
  font-size: 30px;
  line-height: 1.6em;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}

/* line 306, ../sass/style.sass */
.pic_up {
  display: block;
  margin-top: -180px;
}

/* line 310, ../sass/style.sass */
.catalog_viewer {
  display: inline-block;
  width: 100%;
  padding-left: 13.6%;
  overflow: hidden;
  margin-top: 50px;
}

/* line 318, ../sass/style.sass */
.catalog_title {
  float: left;
  cursor: pointer;
  border: 2px solid rgba(0, 0, 255, 0);
  border-radius: 10em;
  margin-left: 3.8%;
  padding: 3px 15px 5px 15px;
  font-size: 24px;
  font-family: "Roboto Reg";
  letter-spacing: -0.01em;
  color: #484848;
}
/* line 329, ../sass/style.sass */
.catalog_title:hover {
  color: #54B5FA;
  transition: 0.3s all;
  border: 2px solid #54B5FA;
}
/* line 333, ../sass/style.sass */
.catalog_title:not(:hover) {
  transition: 0.7s all;
}
/* line 335, ../sass/style.sass */
.catalog_title:nth-child(1) {
  margin-left: 0;
}

/* line 338, ../sass/style.sass */
.theme_of_title {
  width: 41%;
  float: left;
  margin-top: 65px;
  padding-left: 14px;
}
/* line 343, ../sass/style.sass */
.theme_of_title a {
  font-family: "Roboto Slab";
  font-size: 71px;
  line-height: 1.28em;
  display: inline-block;
  background: #15b17f linear-gradient(90deg, #0cba2e, #00c4ff);
  text-decoration: none;
}
/* line 350, ../sass/style.sass */
.theme_of_title a span {
  display: inline-block;
  color: #000;
  background: #fff;
  mix-blend-mode: lighten;
}
/* line 355, ../sass/style.sass */
.theme_of_title p {
  font-family: "Roboto Lt";
  font-size: 24px;
  overflow: hidden;
  max-height: 210px;
  margin-top: 46px;
  line-height: 1.5em;
  padding-left: 3px;
  letter-spacing: -0.015em;
}

/* line 366, ../sass/style.sass */
.btn_see_catalog {
  display: inline-block;
  margin-top: 29px;
  padding: 2px;
  margin-left: 4px;
  border-radius: 40px;
  background: #15b17f linear-gradient(270deg, #9acd5a, #15b17f);
}
/* line 373, ../sass/style.sass */
.btn_see_catalog a {
  font-family: "Roboto Lt";
  font-size: 28px;
  display: inline-block;
  padding: 10px 40px 10px 40px;
  border-radius: 40px;
  color: #4a4a4a;
  background: #ffffff;
  text-decoration: none;
  letter-spacing: -0.015em;
}
/* line 383, ../sass/style.sass */
.btn_see_catalog a:hover {
  transition: 0.3s all;
  box-shadow: 0 0 25px rgba(163, 163, 163, 0.5);
}
/* line 386, ../sass/style.sass */
.btn_see_catalog a:not(:hover) {
  transition: 0.7s all;
}

/* line 390, ../sass/style.sass */
.medicines {
  position: relative;
  width: 59%;
  height: 100%;
  float: left;
  margin-top: 90px;
}
/* line 398, ../sass/style.sass */
.medicines .bxslider2 div a {
  padding: 20px;
  border: 2px solid rgba(238, 238, 238, 0);
  border-radius: 20px;
  display: block;
  float: left;
  text-align: center;
  color: #474747;
  text-decoration: none;
}
/* line 407, ../sass/style.sass */
.medicines .bxslider2 div a img {
  margin-bottom: 20px;
}
/* line 409, ../sass/style.sass */
.medicines .bxslider2 div a b {
  font-family: "Roboto";
  font-size: 22px;
  display: block;
}
/* line 413, ../sass/style.sass */
.medicines .bxslider2 div a span {
  font-size: 19px;
  font-family: "Roboto Lt";
  display: block;
}
/* line 417, ../sass/style.sass */
.medicines .bxslider2 div a:nth-child(2) {
  padding-top: 50px;
}
/* line 419, ../sass/style.sass */
.medicines .bxslider2 div a:hover {
  transition: 0.3s all;
  border: 2px solid #00cae5;
  text-decoration: underline;
}
/* line 423, ../sass/style.sass */
.medicines .bxslider2 div a:not(:hover) {
  transition: 0.7s all;
}

/* line 427, ../sass/style.sass */
.news {
  margin-top: 180px;
  width: 100%;
  height: 837px;
  background: url(../img/bg-news.jpg) repeat-y;
  padding-left: 14.5%;
  padding-right: 14.5%;
}

/* line 435, ../sass/style.sass */
.news_area {
  width: 100%;
  height: 100%;
}

/* line 440, ../sass/style.sass */
.news_pic {
  width: 50%;
  height: 100%;
  float: left;
}
/* line 444, ../sass/style.sass */
.news_pic span {
  display: block;
  font-family: "Roboto Slab";
  color: #ffffff;
}
/* line 448, ../sass/style.sass */
.news_pic div {
  position: relative;
  margin-top: 20px;
  padding-top: 25px;
  overflow: hidden;
  max-height: 415px;
}
/* line 454, ../sass/style.sass */
.news_pic div img {
  max-width: 100%;
  width: 85%;
}
/* line 457, ../sass/style.sass */
.news_pic div span {
  position: absolute;
  top: 2.6%;
  left: 67.7%;
  background: #ff0000;
  font-size: 0.85vw;
  letter-spacing: -0.05em;
  padding: 3px 20px 7px 19px;
  border-radius: 20px;
}
/* line 466, ../sass/style.sass */
.news_pic span:nth-child(1) {
  margin-top: 91px;
  font-size: 47px;
  margin-left: 1px;
}
/* line 470, ../sass/style.sass */
.news_pic span:nth-child(3) {
  margin-top: 25px;
  font-size: 15px;
}
/* line 473, ../sass/style.sass */
.news_pic span:nth-child(4) {
  margin-top: 20px;
  font-size: 21px;
}
/* line 476, ../sass/style.sass */
.news_pic span:nth-child(5) {
  margin-top: 10px;
  font-size: 18px;
}

/* line 481, ../sass/style.sass */
.news_list {
  width: 42%;
  height: 100%;
  float: left;
  padding-top: 15.5%;
}
/* line 486, ../sass/style.sass */
.news_list div {
  display: inline-block;
  padding-left: 2.6%;
}
/* line 489, ../sass/style.sass */
.news_list div a {
  color: #ffffff;
  text-decoration: none;
  font-family: "Roboto Lt";
  font-size: 17px;
  letter-spacing: 0.02em;
  line-height: 1.35em;
}
/* line 496, ../sass/style.sass */
.news_list div a:hover {
  transition: 0.3s all;
  text-decoration: underline;
}
/* line 499, ../sass/style.sass */
.news_list div br {
  margin-bottom: 24px;
}
/* line 501, ../sass/style.sass */
.news_list div a:nth-child(3) {
  font-size: 13px;
}
/* line 503, ../sass/style.sass */
.news_list div hr {
  margin-top: 50px;
  color: #ffffff;
}
/* line 506, ../sass/style.sass */
.news_list div span {
  margin-left: 15px;
  color: #ffffff;
  border-radius: 25px;
  padding: 0px 8px 2px 8px;
  background: #ff0000;
}
/* line 512, ../sass/style.sass */
.news_list .btn_all_news {
  margin-top: 67px;
  display: inline-block;
  margin-left: 16px;
}
/* line 516, ../sass/style.sass */
.news_list .btn_all_news a {
  text-decoration: none;
  font-family: "Roboto Lt";
  font-size: 26px;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 30px;
  padding: 14px 35px 10px 35px;
  letter-spacing: 0.03em;
}
/* line 525, ../sass/style.sass */
.news_list .btn_all_news a:hover {
  transition: 0.3s all;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}
/* line 528, ../sass/style.sass */
.news_list .btn_all_news a:not(:hover) {
  transition: 0.7s all;
}

/* line 531, ../sass/style.sass */
.medicines_info {
  margin: 0 14.4%;
}
/* line 533, ../sass/style.sass */
.medicines_info span {
  margin-top: 130px;
  display: inline-block;
  font-family: "Roboto Slab";
  font-size: 49px;
  color: #474747;
  letter-spacing: -0.022em;
}
/* line 540, ../sass/style.sass */
.medicines_info p {
  margin-top: 50px;
  color: #474747;
  font-family: "Roboto Lt";
  font-size: 24px;
  letter-spacing: -0.012em;
  line-height: 1.5em;
  overflow: hidden;
  height: 300px;
}
/* line 549, ../sass/style.sass */
.medicines_info a {
  display: inline-block;
  margin-left: 4px;
  color: #53AEF4;
  font-family: "Roboto Lt";
  font-size: 26px;
  letter-spacing: 0.03em;
}
/* line 556, ../sass/style.sass */
.medicines_info a:hover {
  transition: 0.3s all;
  color: #4AB75E;
}
/* line 559, ../sass/style.sass */
.medicines_info a:not(:hover) {
  transition: 0.7s all;
}

/* line 562, ../sass/style.sass */
.partnership {
  background: url(../img/bg-partnership.jpg) no-repeat 0px -409px;
  height: 394px;
  margin-top: 110px;
}
/* line 566, ../sass/style.sass */
.partnership span {
  display: inline-block;
  margin: 42px 0 0 24.3%;
  text-align: center;
  font-family: "Roboto Slab";
  font-size: 48px;
  color: #ffffff;
  line-height: 1.28em;
  letter-spacing: -0.007em;
}
/* line 575, ../sass/style.sass */
.partnership a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  font-family: "Roboto Lt";
  font-size: 28px;
  letter-spacing: -0.02em;
  width: 18.2%;
  padding: 10px 10px 12px 13px;
  margin: 78px auto 0 auto;
  border-radius: 30px;
  border: 2px solid #ffffff;
}
/* line 588, ../sass/style.sass */
.partnership a:hover {
  transition: 0.3s all;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}
/* line 591, ../sass/style.sass */
.partnership a:not(:hover) {
  transition: 0.7s all;
}

/* line 595, ../sass/style.sass */
.about {
  display: block;
  float: left;
  width: 18%;
  margin-left: 14.5%;
  margin-top: 120px;
}
/* line 601, ../sass/style.sass */
.about img {
  float: left;
  max-width: 26.6%;
}
/* line 604, ../sass/style.sass */
.about .OAO {
  display: block;
  font-family: "Roboto";
  font-size: 28px;
  text-align: center;
  padding-right: 2.7%;
  margin-top: 1px;
  letter-spacing: 0.01em;
}
/* line 612, ../sass/style.sass */
.about span:nth-child(3) {
  display: block;
  margin-left: 34%;
  font-family: "Roboto Reg";
  font-size: 16px;
  margin-top: 12px;
  letter-spacing: -0.01em;
  line-height: 1.1em;
}
/* line 620, ../sass/style.sass */
.about a:nth-child(4) {
  display: inline-block;
  margin-top: 70px;
  margin-left: -92px;
  font-family: "Roboto Lt";
  font-size: 28px;
  color: #000000;
  text-decoration: none;
}
/* line 628, ../sass/style.sass */
.about a:nth-child(5) {
  text-decoration: none;
  display: inline-block;
  color: #000000;
  margin-top: 14px;
  font-family: "Roboto Lt";
  font-size: 28px;
}
/* line 635, ../sass/style.sass */
.about a:nth-child(4):hover, .about a:nth-child(5):hover {
  transition: 0.3s all;
  color: #4EB45E;
}
/* line 638, ../sass/style.sass */
.about a:nth-child(4):not(:hover), .about a:nth-child(5):not(:hover) {
  transition: 0.7s all;
}
/* line 640, ../sass/style.sass */
.about span:nth-child(6) {
  display: block;
  margin-top: 48px;
  font-family: "Roboto Reg";
  font-size: 18px;
  letter-spacing: -0.01em;
}
/* line 646, ../sass/style.sass */
.about span:nth-child(7) {
  display: block;
  margin-top: 42px;
  font-family: "Roboto Reg";
  font-size: 18px;
  letter-spacing: -0.01em;
}

/* line 653, ../sass/style.sass */
.company, .production, .partners {
  display: block;
  float: left;
  margin-top: 118px;
  width: 18%;
  padding-left: 6.2%;
}
/* line 659, ../sass/style.sass */
.company span, .production span, .partners span {
  display: block;
  font-family: "Roboto Slab";
  font-size: 28px;
  letter-spacing: 0.035em;
  color: #61A86C;
  margin-bottom: 25px;
}
/* line 666, ../sass/style.sass */
.company a, .production a, .partners a {
  display: block;
  text-decoration: none;
  font-family: "Roboto Lt";
  font-size: 17px;
  line-height: 2.82em;
  color: #000000;
}
/* line 673, ../sass/style.sass */
.company a:hover, .production a:hover, .partners a:hover {
  transition: 0.3s all;
  color: #6DBBEA;
}
/* line 676, ../sass/style.sass */
.company a:not(:hover), .production a:not(:hover), .partners a:not(:hover) {
  transition: 0.7s all;
}

/* line 679, ../sass/style.sass */
.production {
  width: 22%;
  padding-left: 6.38%;
}
/* line 683, ../sass/style.sass */
.production a {
  letter-spacing: 0.014em;
}

/* line 686, ../sass/style.sass */
.partners {
  width: 25%;
  padding-left: 2.41%;
}
/* line 690, ../sass/style.sass */
.partners a {
  letter-spacing: 0.014em;
}

/* line 693, ../sass/style.sass */
.feedback {
  display: block;
  float: left;
  width: 100%;
  text-align: center;
}
/* line 698, ../sass/style.sass */
.feedback div {
  cursor: pointer;
  display: inline-block;
  padding: 2px;
  margin-left: -12%;
  margin-top: -10px;
  border-radius: 30px;
  background: #15b17f linear-gradient(270deg, #9acd5a, #15b17f);
}
/* line 706, ../sass/style.sass */
.feedback div a {
  font-family: "Roboto Lt";
  font-size: 23px;
  display: inline-block;
  padding: 5px 15px 7px 15px;
  border-radius: 30px;
  color: #4a4a4a;
  background: #ffffff;
  text-decoration: none;
}
/* line 715, ../sass/style.sass */
.feedback div:hover, .feedback a:hover {
  transition: 0.3s all;
  box-shadow: 0 0 25px rgba(163, 163, 163, 0.5);
}
/* line 718, ../sass/style.sass */
.feedback div:not(:hover) {
  transition: 0.7s all;
}

/* line 721, ../sass/style.sass */
.join_us {
  width: 50%;
  float: right;
  text-align: right;
  margin-top: -35px;
  padding-right: 14.1%;
}
/* line 727, ../sass/style.sass */
.join_us a {
  text-decoration: none;
}
/* line 729, ../sass/style.sass */
.join_us a span {
  margin-right: 6px;
  font-size: 22px;
}
/* line 732, ../sass/style.sass */
.join_us a:nth-child(2) {
  color: #51729F;
}
/* line 734, ../sass/style.sass */
.join_us a:nth-child(3) {
  color: #D01E58;
}
/* line 736, ../sass/style.sass */
.join_us a:nth-child(4) {
  color: #51729F;
}
/* line 738, ../sass/style.sass */
.join_us a:nth-child(5) {
  color: #E18321;
}
/* line 740, ../sass/style.sass */
.join_us a:hover {
  transition: 0.3s all;
  color: #4BB762;
}
/* line 743, ../sass/style.sass */
.join_us a:not(:hover) {
  transition: 0.7s all;
}
/* line 745, ../sass/style.sass */
.join_us .join_us_title {
  font-family: "Roboto Reg";
  font-size: 18px;
  margin-right: 20px;
}

/* line 750, ../sass/style.sass */
.last_line {
  width: 100%;
  float: left;
  margin-top: 36px;
}
/* line 754, ../sass/style.sass */
.last_line hr {
  width: 71%;
}
/* line 756, ../sass/style.sass */
.last_line .all_rights {
  display: inline-block;
  margin-left: 14.6%;
  margin-top: 27px;
  font-family: "Roboto Lt";
  font-size: 16px;
  letter-spacing: -0.01em;
}
/* line 763, ../sass/style.sass */
.last_line .develop {
  float: right;
  font-family: "Roboto Lt";
  font-size: 15px;
  display: inline-block;
  margin-top: 26px;
  margin-right: 0.8%;
  letter-spacing: 0.02em;
}
/* line 771, ../sass/style.sass */
.last_line svg {
  width: 5.85vw;
  float: right;
  margin-right: 14.6%;
  margin-top: 18px;
}

@media screen and (max-width: 1900px) {
  /* line 781, ../sass/style.sass */
  .left_menu ul li {
    font-size: 1.2vw;
  }
  /* line 783, ../sass/style.sass */
  .left_menu ul li:nth-child(1) {
    margin-left: 20%;
  }

  /* line 787, ../sass/style.sass */
  .right_menu ul li {
    font-size: 1.2vw;
  }
}
@media screen and (max-width: 1750px) {
  /* line 793, ../sass/style.sass */
  .under_menu div a, .under_menu div span {
    font-size: 0.9vw;
  }
  /* line 795, ../sass/style.sass */
  .under_menu div:nth-child(1) {
    margin-left: 9%;
  }

  /* line 798, ../sass/style.sass */
  .text_on_top span:nth-child(1) {
    font-size: 1.9vw;
  }
  /* line 800, ../sass/style.sass */
  .text_on_top span:nth-child(2) {
    font-size: 1.1vw;
  }

  /* line 803, ../sass/style.sass */
  .about a:nth-child(4) {
    margin-left: 0vw;
  }
}
@media screen and (max-width: 1600px) {
  /* line 809, ../sass/style.sass */
  .under_menu div a, .under_menu div span {
    font-size: 1vw;
  }
  /* line 811, ../sass/style.sass */
  .under_menu div:nth-child(1) {
    margin-left: 6%;
  }

  /* line 815, ../sass/style.sass */
  .left_menu ul li {
    font-size: 1.5vw;
  }
  /* line 817, ../sass/style.sass */
  .left_menu ul li:nth-child(1) {
    margin-left: 5%;
  }

  /* line 820, ../sass/style.sass */
  .search_icon svg {
    margin-left: 8%;
  }

  /* line 823, ../sass/style.sass */
  .right_menu ul {
    width: 60%;
  }
  /* line 825, ../sass/style.sass */
  .right_menu ul li {
    font-size: 1.5vw;
  }

  /* line 827, ../sass/style.sass */
  .text_on_top {
    padding-top: 12.25%;
  }

  /* line 829, ../sass/style.sass */
  .phone {
    float: right;
    width: 40%;
  }

  /* line 832, ../sass/style.sass */
  .pic_up {
    display: block;
    margin-top: -5vw;
  }

  /* line 836, ../sass/style.sass */
  .text_on_right span:nth-child(1) {
    font-size: 3.2vw;
  }
  /* line 838, ../sass/style.sass */
  .text_on_right span:nth-child(2) {
    font-size: 1.7vw;
  }

  /* line 840, ../sass/style.sass */
  .catalog_viewer {
    padding-left: 5%;
  }

  /* line 842, ../sass/style.sass */
  .catalog_title {
    font-size: 1.6vw;
  }

  /* line 844, ../sass/style.sass */
  .about span:nth-child(3) {
    text-align: center;
    margin-left: 0;
  }
}
@media screen and (max-width: 1350px) {
  /* line 849, ../sass/style.sass */
  .theme_of_title {
    width: 100%;
    margin-left: 0;
  }
  /* line 852, ../sass/style.sass */
  .theme_of_title .med_fetures {
    font-size: 5.3vw;
  }
  /* line 854, ../sass/style.sass */
  .theme_of_title .med_fetures span {
    font-size: 5.3vw;
  }
  /* line 856, ../sass/style.sass */
  .theme_of_title p {
    font-size: 1.5vw;
  }

  /* line 859, ../sass/style.sass */
  .partnership span {
    margin: 2vw 0 0 15%;
    font-size: 3.5vw;
  }
  /* line 862, ../sass/style.sass */
  .partnership a {
    padding: 1vw 1vw 1vw 1vw;
    font-size: 2vw;
    width: 19%;
  }

  /* line 866, ../sass/style.sass */
  .btn_see_catalog {
    margin-left: 35%;
  }

  /* line 868, ../sass/style.sass */
  .medicines {
    width: 100%;
    margin-left: 0;
    margin-bottom: 520px;
  }

  /* line 875, ../sass/style.sass */
  .bxslider2 div a b {
    font-size: 1.5vw;
  }
  /* line 877, ../sass/style.sass */
  .bxslider2 div a span {
    font-size: 1.3vw;
  }

  /* line 879, ../sass/style.sass */
  .news {
    margin-top: 10vw;
    padding-left: 5%;
    padding-right: 5%;
  }

  /* line 883, ../sass/style.sass */
  .medicines_info {
    margin: 0 5%;
  }

  /* line 885, ../sass/style.sass */
  .about {
    width: 20%;
    margin-left: 5%;
  }

  /* line 888, ../sass/style.sass */
  .company, .production, .partners {
    width: 20%;
  }

  /* line 890, ../sass/style.sass */
  .production {
    width: 30%;
  }

  /* line 894, ../sass/style.sass */
  .phone div:nth-child(1) a {
    font-size: 1.8vw;
  }

  /* line 897, ../sass/style.sass */
  .feedback div {
    margin-left: -30%;
  }
}
@media screen and (max-width: 1100px) {
  /* line 903, ../sass/style.sass */
  .left_menu ul li {
    font-size: 1.5vw;
  }
  /* line 905, ../sass/style.sass */
  .left_menu ul li:nth-child(1) {
    margin-left: 0%;
  }
  /* line 907, ../sass/style.sass */
  .left_menu ul li:nth-child(2) {
    margin-left: 0%;
  }
  /* line 909, ../sass/style.sass */
  .left_menu ul li:nth-child(3) {
    margin-left: 0%;
  }

  /* line 913, ../sass/style.sass */
  .right_menu ul li:nth-child(3) {
    margin-left: 0%;
  }

  /* line 917, ../sass/style.sass */
  .phone div:nth-child(2) a {
    font-size: 1.4vw;
  }

  /* line 919, ../sass/style.sass */
  .catalog_title {
    margin-left: 0;
  }

  /* line 922, ../sass/style.sass */
  .about .OAO {
    font-size: 2.3vw;
  }
  /* line 924, ../sass/style.sass */
  .about span:nth-child(3) {
    font-size: 1.5vw;
  }
  /* line 926, ../sass/style.sass */
  .about a:nth-child(4) {
    font-size: 2.3vw;
  }
  /* line 928, ../sass/style.sass */
  .about a:nth-child(5) {
    font-size: 2.3vw;
  }
  /* line 930, ../sass/style.sass */
  .about span:nth-child(6), .about span:nth-child(7) {
    font-size: 1.4vw;
  }

  /* line 933, ../sass/style.sass */
  .company span, .production span, .partners span {
    font-size: 2.5vw;
  }
  /* line 935, ../sass/style.sass */
  .company a, .production a, .partners a {
    font-size: 1.4vw;
  }

  /* line 937, ../sass/style.sass */
  .join_us {
    padding-right: 5%;
  }
  /* line 940, ../sass/style.sass */
  .join_us a span {
    margin-right: 0.1vw;
    font-size: 2vw;
  }

  /* line 944, ../sass/style.sass */
  .logo img {
    width: 55%;
  }

  /* line 946, ../sass/style.sass */
  .menu {
    height: 105px;
  }

  /* line 949, ../sass/style.sass */
  .search_icon svg {
    width: 2.5vw;
    height: 2.5vw;
  }

  /* line 954, ../sass/style.sass */
  .under_menu div a, .under_menu div span {
    font-size: 1.5vw;
  }
  /* line 956, ../sass/style.sass */
  .under_menu div:nth-child(1) {
    margin-left: 2%;
  }
  /* line 958, ../sass/style.sass */
  .under_menu div:nth-child(2) {
    margin-left: 4%;
  }
  /* line 960, ../sass/style.sass */
  .under_menu div:nth-child(3) {
    margin-left: 4%;
  }
  /* line 962, ../sass/style.sass */
  .under_menu div:nth-child(4) {
    margin-left: 7%;
  }
}
@media screen and (max-width: 900px) {
  /* line 967, ../sass/style.sass */
  .under_menu div:nth-child(1) {
    display: none;
  }
  /* line 969, ../sass/style.sass */
  .under_menu div:nth-child(3) {
    margin-left: 25%;
  }
  /* line 971, ../sass/style.sass */
  .under_menu div:nth-child(4) {
    margin-left: 25%;
  }
  /* line 974, ../sass/style.sass */
  .under_menu div:nth-child(4) span svg {
    width: 2vw;
  }
  /* line 979, ../sass/style.sass */
  .under_menu div a span svg {
    width: 3vw;
  }

  /* line 981, ../sass/style.sass */
  .text_on_top {
    display: none;
  }

  /* line 983, ../sass/style.sass */
  .left_menu {
    display: none;
  }

  /* line 985, ../sass/style.sass */
  .right_menu {
    width: 84%;
  }
  /* line 987, ../sass/style.sass */
  .right_menu ul {
    display: none;
  }
  /* line 989, ../sass/style.sass */
  .right_menu .hide_part {
    display: block;
    float: left;
  }

  /* line 992, ../sass/style.sass */
  .phone {
    width: 20%;
  }

  /* line 994, ../sass/style.sass */
  .menu_btn {
    display: block;
    cursor: pointer;
  }

  /* line 997, ../sass/style.sass */
  .btn_see_catalog {
    margin-left: 28%;
  }

  /* line 999, ../sass/style.sass */
  .about {
    margin-top: 20px;
    margin-left: 10%;
    width: 40%;
  }
  /* line 1003, ../sass/style.sass */
  .about .OAO {
    font-size: 3.5vw;
  }
  /* line 1005, ../sass/style.sass */
  .about span:nth-child(3) {
    font-size: 2vw;
  }
  /* line 1007, ../sass/style.sass */
  .about a:nth-child(4) {
    font-size: 3vw;
    display: block;
    margin-top: 1vw;
  }
  /* line 1011, ../sass/style.sass */
  .about a:nth-child(5) {
    font-size: 3vw;
  }
  /* line 1013, ../sass/style.sass */
  .about span:nth-child(6) {
    margin-top: 1vw;
    font-size: 2vw;
  }
  /* line 1016, ../sass/style.sass */
  .about span:nth-child(7) {
    margin-top: 1vw;
    font-size: 1.5vw;
  }

  /* line 1019, ../sass/style.sass */
  .company, .production, .partners {
    margin-top: 20px;
    width: 40%;
  }
  /* line 1022, ../sass/style.sass */
  .company span, .production span, .partners span {
    font-size: 3.5vw;
  }
  /* line 1024, ../sass/style.sass */
  .company a, .production a, .partners a {
    font-size: 2vw;
  }

  /* line 1026, ../sass/style.sass */
  .production {
    width: 50%;
    margin-left: 4%;
  }

  /* line 1029, ../sass/style.sass */
  .partners {
    width: 40%;
  }

  /* line 1031, ../sass/style.sass */
  .feedback {
    width: 60%;
    margin-top: 20px;
  }
}
@media screen and (max-width: 700px) {
  /* line 1038, ../sass/style.sass */
  .under_menu div a, .under_menu div span {
    font-size: 2.2vw;
  }
  /* line 1040, ../sass/style.sass */
  .under_menu div:nth-child(3) {
    margin-left: 15%;
  }
  /* line 1042, ../sass/style.sass */
  .under_menu div:nth-child(4) {
    margin-left: 15%;
  }
  /* line 1045, ../sass/style.sass */
  .under_menu div:nth-child(4) span svg {
    width: 4vw;
  }

  /* line 1048, ../sass/style.sass */
  .right_menu .hide_part {
    margin-top: 10px;
  }
  /* line 1050, ../sass/style.sass */
  .right_menu .hide_part span:nth-child(1) {
    font-size: 4vw;
  }
  /* line 1052, ../sass/style.sass */
  .right_menu .hide_part span:nth-child(2) {
    font-size: 3vw;
  }

  /* line 1054, ../sass/style.sass */
  .phone {
    width: 40%;
  }
  /* line 1057, ../sass/style.sass */
  .phone div:nth-child(1) a {
    font-size: 3.4vw;
  }
  /* line 1060, ../sass/style.sass */
  .phone div:nth-child(2) a {
    padding: 1vw 2vw 1vw 2vw;
    font-size: 3vw;
  }

  /* line 1064, ../sass/style.sass */
  .menu_btn svg {
    width: 9vw;
  }

  /* line 1066, ../sass/style.sass */
  .catalog_viewer {
    padding-left: 0%;
    margin-top: 0;
  }

  /* line 1069, ../sass/style.sass */
  .theme_of_title {
    margin-top: 5px;
  }
  /* line 1071, ../sass/style.sass */
  .theme_of_title p {
    margin-top: 15px;
  }

  /* line 1073, ../sass/style.sass */
  .btn_see_catalog {
    margin-left: 25%;
  }
  /* line 1075, ../sass/style.sass */
  .btn_see_catalog a {
    font-size: 3vw;
  }

  /* line 1077, ../sass/style.sass */
  .news_pic {
    width: 100%;
  }
  /* line 1080, ../sass/style.sass */
  .news_pic div span {
    display: none;
  }

  /* line 1082, ../sass/style.sass */
  .news_list {
    display: none;
  }

  /* line 1085, ../sass/style.sass */
  .partnership span {
    margin: 2vw 0 0 0%;
    font-size: 6vw;
  }
  /* line 1088, ../sass/style.sass */
  .partnership a {
    margin-top: 10vw;
    width: 45%;
    font-size: 4vw;
  }

  /* line 1094, ../sass/style.sass */
  .feedback div a {
    font-size: 3.5vw;
  }

  /* line 1096, ../sass/style.sass */
  .join_us {
    width: 70%;
  }
  /* line 1098, ../sass/style.sass */
  .join_us .join_us_title {
    font-size: 3vw;
    margin-right: 0;
  }

  /* line 1102, ../sass/style.sass */
  .last_line .all_rights {
    font-size: 2.5vw;
    margin-left: 0;
  }
  /* line 1105, ../sass/style.sass */
  .last_line .develop {
    font-size: 2.4vw;
  }
  /* line 1107, ../sass/style.sass */
  .last_line svg {
    margin-right: 1%;
    width: 15vw;
  }
}
