@import url('Roboto Regular.css')
@import url('Roboto Light V1.css')
@import url('Roboto Medium V1.css')
@import url('RobotoSlab-Regular.css') //font-family: 'Roboto Slab'

@keyframes example
	0%
		width: 0%
		background-color: #ffffff
	30%
		width: 30%
		background: #ff0000
		transform: rotate(-3deg)
	50%
		width: 50%
		background: #ffff00
		transform: rotate(2deg)
	75%
		width: 20%
		background: #0000ff
		transform: rotate(-3deg)
	100%
		width: 60%
		background-color: #ffffff

*
	box-sizing: border-box

body
	margin: 0 0

.under_menu
	height: 45px
	width: 100%
	background: #6E6E6E
	font-family: 'Roboto Reg'
	div
		line-height: 45px
		height: 45px
		float: left
		&:nth-child(1)
			margin-left: 14.4%
		&:nth-child(2)
			margin-left: 10.13%
		&:nth-child(3)
			margin-left: 15.55%
		&:nth-child(4)
			margin-left: 9.8%
			color: #ffffff
			padding-top: 8px
			cursor: pointer
			& > span
				position: relative
				border: 1px solid #ffffff
				border-radius: 15px
				float: left
				height: 27px
				line-height: 27px
				padding-left: 7px
				padding-right: 25px
				div
					background: url('../img/united-kingdom.svg') no-repeat
					position: absolute
					top: 15%
					right: 4%
					width: 18px
					height: 18px
					float: right
				.langRu
					background: url('../img/russia.svg') no-repeat
				svg
					margin-left: 8px
					width: 1.1vw
					height: 25px
					float: right
		a
			color: #ffffff
			font-size: 0.92vw
			text-decoration: none
			display: inline-block
			span
				height: 45px
				float: left
				margin-right: 10px
				svg
					fill: #ffffff
					width: 1.3vw
					height: 45px
		a:hover
			transition: 0.3s all
			color: #4FB562
			svg
				transition: 0.3s all
				fill: #4FB562
		a:not(:hover)
			transition: 0.7s all
			svg
				transition: 0.7s all
				

.menu
	height: 135px
	
//иконка поиска
.search_icon
	height: 30%
	input
		width: 60%
		height: 28px
		margin-left: 8%
		margin-top: 12px
		margin-right: -5%
		float: left
		border: 1px solid #5f9ea0
		border-radius: 30px
		padding-left: 3%
		padding-right: 3%
		display: none
	.input_animation
		animation-duration: 1.5s
		animation-name: example
	input:hover
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.25)
	svg
		margin-top: 14px
		margin-left: 33.7%
		cursor: pointer
		width: 25px
		height: 25px
		fill: #B7B7B7
	svg:hover
		transition: 0.3s all
		fill: #0000ff
	svg:not(:hover)
		transition: 0.7s all

//левая часть меню
.left_menu
	width: 43%
	height: 100%
	float: left
	ul
		display: block
		height: 70%
		width: 100%
		margin: 0 0
		padding: 0 0
		li
			float: left
			list-style: none
			font-family: 'Roboto Lt'
			font-size: 22px
			letter-spacing: -0.015em
			margin-top: 12px
			a
				padding: 8px 20px 10px
				border: 1px solid rgba(255, 255, 255, 0)
				border-radius: 25px
				color: #4a4a4a
				text-decoration: none
			a:hover
				transition: 0.3s all
				border: 1px solid #4a4a4a
			a:not(:hover)
				transition: 0.7s all
		li:nth-child(1)
			margin-left: 31.2%
		li:nth-child(2)
			margin-left: 3.3%
			letter-spacing: -0.01em
		li:nth-child(3)
			margin-left: 1.7%

//середина меню
.logo
	float: left
	height: 100%
	width: 14%
	text-align: center
	img
		margin-top: 14px

//правая часть
.right_menu
	.empty
		width: 100%
		height: 30%
		float: left
		display: block
	.hide_part
		display: none
		span:nth-child(1)
			display: block
			font-family: 'Roboto'
			font-size: 2.5vw
			text-transform: uppercase
			color: #494949
		span:nth-child(2)
			font-family: 'Roboto Reg'
			font-size: 1.5vw
			display: block
			margin-top: 3px
			color: #494949
	float: left
	height: 100%
	width: 43%
	ul
		display: block
		float: left
		height: 100%
		width: 45%
		margin: 0 0
		padding: 0 0
		li
			float: left
			list-style: none
			font-family: 'Roboto Lt'
			font-size: 22px
			letter-spacing: -0.015em
			margin-top: 12px
			a
				padding: 8px 20px 10px
				border: 1px solid rgba(255, 255, 255, 0)
				border-radius: 25px
				color: #4a4a4a
				text-decoration: none
			a:hover
				transition: 0.3s all
				border: 1px solid #4a4a4a
			a:not(:hover)
				transition: 0.7s all
		li:nth-child(2)
			margin-left: 3.2%
		li:nth-child(3)
			margin-left: 7%
			letter-spacing: -0.085em


//номер + кнопка заявки
.phone
	float: left
	width: 55%
	height: 100%
	font-family: 'Roboto Lt'
	div:nth-child(1)
		height: 30%
		padding-top: 10px
		padding-left: 17px
		a
			text-decoration: none
			color: #4a4a4a
			font-size: 22px
			letter-spacing: -0.03em
		a:hover
			transition: 0.3s all
			color: #0000ff
		a:not(:hover)
			transition: 0.7s all
	div:nth-child(2)
		display: inline-block
		padding: 2px
		margin-top: 2px
		border-radius: 30px
		background: #15b17f linear-gradient(270deg, #9acd5a, #15b17f)
		a
			font-size: 18px
			display: inline-block
			padding: 5px 20px 5px 25px
			border-radius: 30px
			color: #4a4a4a
			background: #ffffff
			text-decoration: none
		a:hover
			transition: 0.3s all
			box-shadow: 0 0 25px rgba(163,163,163,0.5)
		a:not(:hover)
			transition: 0.7s all

.menu_btn
	float: right
	margin-top: 20px
	display: none
	svg
		width: 5vw
	svg:hover
		transition: 0.3s all
		fill: #0000ff
	svg:not(:hover)
		transition: 0.7s all

//высота слайдера мах 700px
.bx-viewport
	max-height: 700px

//наложение доп. слоя на слайдер
.slides
	position: relative

//текст по середине слайда сверху
.text_on_top
	position: absolute
	top: -20%
	left: 38%
	width: 24%
	height: 35%
	background-color: rgb(255, 255, 255)
	border-bottom-left-radius: 500px
	border-bottom-right-radius: 500px
	padding-top: 10.65%
	text-align: center
	z-index: 120
	span:nth-child(1)
		display: block
		font-family: 'Roboto'
		font-size: 40px
		text-transform: uppercase
		color: #494949
	span:nth-child(2)
		font-family: 'Roboto Reg'
		font-size: 20px
		display: block
		line-height: 1.12em
		margin-top: 3px
		color: #494949

//синий слой+текст слева на слайдере
.text_on_right
	position: absolute
	top: 0
	left: 50%
	width: 50%
	height: 56.3%
	background-color: rgba(0, 145, 255, 0.5)
	z-index: 100
	border-bottom-left-radius: 150px
	padding-top: 11.45%
	padding-left: 5.1%
	span:nth-child(1)
		display: block
		font-family: 'Roboto Slab'
		font-size: 75px
		letter-spacing: -0.03em
		color: #FFFFFF
	span:nth-child(2)
		display: block
		margin-top: 0.75%
		font-family: 'Roboto Reg'
		font-size: 30px
		line-height: 1.6em
		letter-spacing: 0.01em
		color: #FFFFFF
		

//выравнивание картинки слайдера
.pic_up
	display: block
	margin-top: -180px

.catalog_viewer
	display: inline-block
	width: 100%
	padding-left: 13.6%
	overflow: hidden
	margin-top: 50px

//заголовки каталога
.catalog_title
	float: left
	cursor: pointer
	border: 2px solid rgba(0, 0, 255, 0)
	border-radius: 10em
	margin-left: 3.8%
	padding: 3px 15px 5px 15px
	font-size: 24px
	font-family: 'Roboto Reg'
	letter-spacing: -0.01em
	color: #484848
	&:hover
		color: #54B5FA
		transition: 0.3s all
		border: 2px solid #54B5FA
	&:not(:hover)
		transition: 0.7s all
	&:nth-child(1)
		margin-left: 0

.theme_of_title
	width: 41%
	float: left
	margin-top: 65px
	padding-left: 14px
	a
		font-family: 'Roboto Slab'
		font-size: 71px
		line-height: 1.28em
		display: inline-block
		background: #15b17f linear-gradient(90deg, #0cba2e, #00c4ff)
		text-decoration: none
		span
			display: inline-block
			color: #000
			background: #fff
			mix-blend-mode: lighten
	p
		font-family: 'Roboto Lt'
		font-size: 24px
		overflow: hidden
		max-height: 210px
		margin-top: 46px
		line-height: 1.5em
		padding-left: 3px
		letter-spacing: -0.015em

//кнопка смотреть в каталоге
.btn_see_catalog
	display: inline-block
	margin-top: 29px
	padding: 2px
	margin-left: 4px
	border-radius: 40px
	background: #15b17f linear-gradient(270deg, #9acd5a, #15b17f)
	a
		font-family: 'Roboto Lt'
		font-size: 28px
		display: inline-block
		padding: 10px 40px 10px 40px
		border-radius: 40px
		color: #4a4a4a
		background: #ffffff
		text-decoration: none
		letter-spacing: -0.015em
	a:hover
		transition: 0.3s all
		box-shadow: 0 0 25px rgba(163,163,163,0.5)
	a:not(:hover)
		transition: 0.7s all

//слайдер с сиропами
.medicines
	position: relative
	width: 59%
	height: 100%
	float: left
	margin-top: 90px
	.bxslider2
		div
			a
				padding: 20px
				border: 2px solid rgba(238, 238, 238, 0)
				border-radius: 20px
				display: block
				float: left
				text-align: center
				color: #474747
				text-decoration: none
				img
					margin-bottom: 20px
				b
					font-family: 'Roboto'
					font-size: 22px
					display: block
				span
					font-size: 19px
					font-family: 'Roboto Lt'
					display: block
			a:nth-child(2)
				padding-top: 50px
			a:hover
				transition: 0.3s all
				border: 2px solid #00cae5
				text-decoration: underline
			a:not(:hover)
				transition: 0.7s all

//новости
.news
	margin-top: 180px
	width: 100%
	height: 837px
	background: url(../img/bg-news.jpg) repeat-y
	padding-left: 14.5%
	padding-right: 14.5%

.news_area
	width: 100%
	height: 100%
	

.news_pic
	width: 50%
	height: 100%	
	float: left
	span
		display: block
		font-family: 'Roboto Slab'
		color: #ffffff
	div
		position: relative
		margin-top: 20px
		padding-top: 25px
		overflow: hidden
		max-height: 415px
		img
			max-width: 100%
			width: 85%
		span
			position: absolute
			top: 2.6%
			left: 67.7%
			background: #ff0000
			font-size: 0.85vw
			letter-spacing: -0.05em
			padding: 3px 20px 7px 19px
			border-radius: 20px
	span:nth-child(1)
		margin-top: 91px
		font-size: 47px
		margin-left: 1px
	span:nth-child(3)
		margin-top: 25px
		font-size: 15px
	span:nth-child(4)
		margin-top: 20px
		font-size: 21px
	span:nth-child(5)
		margin-top: 10px
		font-size: 18px
		

.news_list
	width: 42%
	height: 100%
	float: left
	padding-top: 15.5%
	div
		display: inline-block
		padding-left: 2.6%
		a
			color: #ffffff
			text-decoration: none
			font-family: 'Roboto Lt'
			font-size: 17px
			letter-spacing: 0.02em
			line-height: 1.35em
		a:hover
			transition: 0.3s all
			text-decoration: underline
		br
			margin-bottom: 24px
		a:nth-child(3)
			font-size: 13px
		hr
			margin-top: 50px
			color: #ffffff
		span
			margin-left: 15px
			color: #ffffff
			border-radius: 25px
			padding: 0px 8px 2px 8px
			background: #ff0000
	.btn_all_news
		margin-top: 67px
		display: inline-block
		margin-left: 16px
		a
			text-decoration: none
			font-family: 'Roboto Lt'
			font-size: 26px
			color: #ffffff
			border: 2px solid #ffffff
			border-radius: 30px
			padding: 14px 35px 10px 35px
			letter-spacing: 0.03em
		a:hover
			transition: 0.3s all
			box-shadow: 0 0 25px rgba(0, 0, 0, 0.5)
		a:not(:hover)
			transition: 0.7s all

.medicines_info
	margin: 0 14.4%
	span
		margin-top: 130px
		display: inline-block
		font-family: 'Roboto Slab'
		font-size: 49px
		color: #474747
		letter-spacing: -0.022em
	p
		color: #474747
		font-family: 'Roboto Lt'
		font-size: 24px
		letter-spacing: -0.012em
		line-height: 1.5em
		overflow: hidden
	p:nth-child(2)
		margin-top: 50px		
	p:nth-child(3)
		display: none
	a
		display: inline-block
		margin-left: 4px
		color: #53AEF4
		font-family: 'Roboto Lt'
		font-size: 26px
		letter-spacing: 0.03em
	a:hover
		transition: 0.3s all
		color: #4AB75E
	a:not(:hover)
		transition: 0.7s all

.partnership
	background: url(../img/bg-partnership.jpg) no-repeat 0px -409px
	height: 394px
	margin-top: 110px
	span
		display: inline-block
		margin: 42px 0 0 24.3%
		text-align: center
		font-family: 'Roboto Slab'
		font-size: 48px
		color: #ffffff
		line-height: 1.28em
		letter-spacing: -0.007em
	a
		display: block
		text-align: center
		text-decoration: none
		color: #ffffff
		font-family: 'Roboto Lt'
		font-size: 28px
		letter-spacing: -0.02em
		width: 18.2%
		padding: 10px 10px 12px 13px
		margin: 78px auto 0 auto
		border-radius: 30px
		border: 2px solid #ffffff
	a:hover
		transition: 0.3s all
		box-shadow: 0 0 25px rgba(0, 0, 0, 0.5)
	a:not(:hover)
		transition: 0.7s all
		
//********************footer**********************
.about
	display: block
	float: left
	width: 18%
	margin-left: 14.5%
	margin-top: 120px
	img
		float: left
		max-width: 26.6%
	.OAO
		display: block
		font-family: 'Roboto'
		font-size: 28px
		text-align: center
		padding-right: 2.7%
		margin-top: 1px
		letter-spacing: 0.01em
	span:nth-child(3)
		display: block
		margin-left: 34%
		font-family: "Roboto Reg"
		font-size: 16px
		margin-top: 12px
		letter-spacing: -0.01em
		line-height: 1.1em
	a:nth-child(4)
		display: inline-block
		margin-top: 70px
		margin-left: -92px
		font-family: "Roboto Lt"
		font-size: 28px
		color: #000000
		text-decoration: none
	a:nth-child(5)
		text-decoration: none
		display: inline-block
		color: #000000
		margin-top: 14px
		font-family: "Roboto Lt"
		font-size: 28px
	a:nth-child(4):hover, a:nth-child(5):hover
		transition: 0.3s all
		color: #4EB45E
	a:nth-child(4):not(:hover), a:nth-child(5):not(:hover)
		transition: 0.7s all		
	span:nth-child(6)
		display: block
		margin-top: 48px
		font-family: "Roboto Reg"
		font-size: 18px
		letter-spacing: -0.01em
	span:nth-child(7)
		display: block
		margin-top: 42px
		font-family: "Roboto Reg"
		font-size: 18px
		letter-spacing: -0.01em

.company
	display: block
	float: left
	margin-top: 118px
	width: 18%
	padding-left: 6.2%
	span
		display: block
		font-family: 'Roboto Slab'
		font-size: 28px
		letter-spacing: 0.035em
		color: #61A86C
		margin-bottom: 25px
	a
		display: block
		text-decoration: none
		font-family: "Roboto Lt"
		font-size: 17px
		line-height: 2.82em
		color: #000000
	a:hover
		transition: 0.3s all
		color: #6DBBEA
	a:not(:hover)
		transition: 0.7s all

#feedback_sm
	display: none

.production
	@extend .company
	width: 22%
	padding-left: 6.38%
	a
		letter-spacing: 0.014em

.partners
	@extend .company
	width: 25%
	padding-left: 2.41%
	a
		letter-spacing: 0.014em

.feedback
	display: block
	float: left
	width: 100%
	text-align: center
	div
		cursor: pointer
		display: inline-block
		padding: 2px
		margin-left: -12%
		margin-top: -10px
		border-radius: 30px
		background: #15b17f linear-gradient(270deg, #9acd5a, #15b17f)
		a
			font-family: "Roboto Lt"
			font-size: 23px
			display: inline-block
			padding: 5px 15px 7px 15px
			border-radius: 30px
			color: #4a4a4a
			background: #ffffff
			text-decoration: none
	div:hover, a:hover
		transition: 0.3s all
		box-shadow: 0 0 25px rgba(163,163,163,0.5)
	div:not(:hover)
		transition: 0.7s all

.join_us
	width: 50%
	float: right
	text-align: right
	margin-top: -35px
	padding-right: 14.1%
	a
		text-decoration: none
		span
			margin-right: 6px
			font-size: 22px
	a:nth-child(2)
		color: #51729F
	a:nth-child(3)
		color: #D01E58
	a:nth-child(4)
		color: #51729F
	a:nth-child(5)
		color: #E18321
	a:hover
		transition: 0.3s all
		color: #4BB762
	a:not(:hover)
		transition: 0.7s all
	.join_us_title
		font-family: "Roboto Reg"
		font-size: 18px
		margin-right: 20px
		
.last_line
	width: 100%
	float: left
	margin-top: 36px
	hr
		width: 71%
	.all_rights
		display: inline-block
		margin-left: 14.6%
		margin-top: 27px
		font-family: "Roboto Lt"
		font-size: 16px
		letter-spacing: -0.01em
	.develop
		float: right
		font-family: "Roboto Lt"
		font-size: 15px
		display: inline-block
		margin-top: 26px
		margin-right: 0.8%
		letter-spacing: 0.02em
	svg
		width: 5.85vw
		float: right
		margin-right: 14.6%
		margin-top: 18px

//****************media******************
@media screen and (max-width: 1900px)
	.left_menu
		ul
			li
				font-size: 1.2vw
			li:nth-child(1)
				margin-left: 20%
	.right_menu
		ul
			li
				font-size: 1.2vw

@media screen and (max-width: 1750px)
	.under_menu
		div
			a, span
				font-size: 0.9vw
			&:nth-child(1)
				margin-left: 9%
	.text_on_top
		span:nth-child(1)
			font-size: 1.9vw
		span:nth-child(2)
			font-size: 1.1vw
	.about
		a:nth-child(4)
			margin-left: 0vw

@media screen and (max-width: 1600px)
	.under_menu
		div
			a, span
				font-size: 1vw
			&:nth-child(1)
				margin-left: 6%
	.left_menu
		ul
			li
				font-size: 1.5vw
			li:nth-child(1)
				margin-left: 5%
	.search_icon
		svg
			margin-left: 8%
	.right_menu
		ul
			width: 60%
			li
				font-size: 1.5vw
	.text_on_top
		padding-top: 12.25%
	.phone
		float: right
		width: 40%
	.pic_up
		display: block
		margin-top: -5vw
	.text_on_right
		span:nth-child(1)
			font-size: 3.2vw
		span:nth-child(2)
			font-size: 1.7vw
	.catalog_viewer
		padding-left: 5%
	.catalog_title
		font-size: 1.6vw
	.about span:nth-child(3)
		text-align: center
		margin-left: 0

@media screen and (max-width: 1350px)
	.theme_of_title
		width: 100%
		margin-left: 0
		.med_fetures
			font-size: 5.3vw
			span
				font-size: 5.3vw
		p
			font-size: 1.5vw
	.partnership 
		span
			margin: 2vw 0 0 15%
			font-size: 3.5vw
		a
			padding: 1vw 1vw 1vw 1vw
			font-size: 2vw
			width: 19%
	.btn_see_catalog
		margin-left: 35%
	.medicines
		width: 100%
		margin-left: 0
		margin-bottom: 520px
	.bxslider2
		div
			a
				b
					font-size: 1.5vw
				span
					font-size: 1.3vw
	.news
		margin-top: 10vw
		padding-left: 5%
		padding-right: 5%
	.medicines_info
		margin: 0 5%
	.about
		width: 20%
		margin-left: 5%
	.company
		width: 20%
	.production
		width: 30%
	.phone
		div:nth-child(1) 
			a
				font-size: 1.8vw
	.feedback
		div
			margin-left: -30%

@media screen and (max-width: 1100px)
	.left_menu
		ul
			li
				font-size: 1.5vw
			li:nth-child(1)
				margin-left: 0%
			li:nth-child(2)
				margin-left: 0%
			li:nth-child(3)
				margin-left: 0%
	.right_menu
		ul
			li:nth-child(3)
				margin-left: 0%
	.phone
		div:nth-child(2)
			a
				font-size: 1.4vw
	.catalog_title
		margin-left: 0
	.about
		.OAO
			font-size: 2.3vw
		span:nth-child(3)
			font-size: 1.5vw
		a:nth-child(4)
			font-size: 2.3vw
		a:nth-child(5)
			font-size: 2.3vw
		span:nth-child(6), span:nth-child(7)
			font-size: 1.4vw
	.company
		span
			font-size: 2.5vw
		a
			font-size: 1.4vw
	.join_us
		padding-right: 5%
		a
			span
				margin-right: 0.1vw
				font-size: 2vw
	.logo
		img
			width: 55%
	.menu
		height: 105px
	.search_icon
		svg
			width: 2.5vw
			height: 2.5vw
	.under_menu
		div
			a, span
				font-size: 1.5vw
			&:nth-child(1)
				margin-left: 2%
			&:nth-child(2)
				margin-left: 4%
			&:nth-child(3)
				margin-left: 4%
			&:nth-child(4)
				margin-left: 7%
	
@media screen and (max-width: 900px)
	.under_menu
		div:nth-child(1)
			display: none
		div:nth-child(3)
			margin-left: 25%
		div:nth-child(4)
			margin-left: 25%
			span
				svg
					width: 2vw
		div
			a
				span
					svg
						width: 3vw
	.text_on_top
		display: none
	.left_menu
		display: none
	.right_menu
		width: 84%
		ul
			display: none
		.hide_part
			display: block
			float: left
	.phone
		width: 20%
	.menu_btn
		display: block
		cursor: pointer
	.btn_see_catalog
		margin-left: 28%
	.about
		margin-top: 20px
		margin-left: 10%
		width: 40%
		.OAO
			font-size: 3.5vw
		span:nth-child(3)
			font-size: 2vw
		a:nth-child(4)
			font-size: 3vw
			display: block
			margin-top: 1vw
		a:nth-child(5)
			font-size: 3vw
		span:nth-child(6)
			margin-top: 1vw
			font-size: 2vw
		span:nth-child(7)
			margin-top: 1vw
			font-size: 1.5vw
	.company
		margin-top: 20px
		width: 40%
		span
			font-size: 3.5vw
		a
			font-size: 2vw
	.production
		width: 50%
		margin-left: 4%
	.partners
		width: 40%
	.feedback
		width: 60%
		margin-top: 20px

@media screen and (max-width: 700px)
	.under_menu
		div
			a, span
				font-size: 2.2vw
		div:nth-child(3)
			margin-left: 15%
		div:nth-child(4)
			margin-left: 15%
			span
				svg
					width: 4vw
	.right_menu
		.hide_part
			margin-top: 10px
			span:nth-child(1)
				font-size: 4vw
			span:nth-child(2)
				font-size: 3vw
	.phone
		width: 40%
		div:nth-child(1)
			a
				font-size: 3.4vw
		div:nth-child(2)
			a
				padding: 1vw 2vw 1vw 2vw
				font-size: 3vw
	.menu_btn 
		svg
			width: 9vw
	.catalog_viewer
		padding-left: 0%
		margin-top: 0
	.theme_of_title
		margin-top: 5px
		p
			margin-top: 15px
	.btn_see_catalog
		margin-left: 25%
		a
			font-size: 3vw
	.news_pic
		width: 100%
		div
			span
				display: none
	.news_list
		display: none
	.partnership
		span
			margin: 2vw 0 0 0%
			font-size: 6vw
		a
			margin-top: 10vw
			width: 45%
			font-size: 4vw
	.about
		width: 45%
	#feedback_sm
		display: block
		float: left
		width: 40%
		margin-top: 35px
	#feedback_lg
		display: none
	.feedback
		div
			a
				font-size: 3.5vw
	.company
		float: left
		margin-left: 10%
		padding-left: 0
		margin-top: 20px
		width: 40%
	.production
		float: left
		width: 35%
	.partners
		width: 50%
		display: block
	.join_us
		width: 100%
		padding-right: 0
		margin-top: 0
		text-align: center
		.join_us_title
			display: block
			width: 100%
			font-size: 3vw
			margin-right: 0
		a
			span
				font-size: 6vw
	.last_line
		.all_rights
			font-size: 2.5vw
			margin-left: 0
			display: block
			text-align: center
		.develop
			font-size: 2.4vw
			display: block
			text-align: center
			float: none
		svg
			margin-right: 25%
			width: 15vw
	
		