@import url('Roboto Regular.css')
@import url('Roboto Light V1.css')
@import url('Roboto Medium V1.css')

*
	box-sizing: border-box

body
	margin: 0 0

.under_menu
	height: 45px
	width: 100%
	background: #6E6E6E
	font-family: 'Roboto Reg'
	div
		line-height: 45px
		height: 45px
		float: left
		&:nth-child(1)
			margin-left: 14.4%
		&:nth-child(2)
			margin-left: 10.13%
		&:nth-child(3)
			margin-left: 15.55%
		&:nth-child(4)
			margin-left: 9.8%
			color: #ffffff
			padding-top: 8px
			cursor: pointer
			span
				border: 1px solid #ffffff
				border-radius: 15px
				float: left
				height: 27px
				line-height: 27px
				padding-left: 7px
				padding-right: 2px
				svg
					margin-left: 8px
					width: 1.1vw
					height: 25px
					float: right
		a
			color: #ffffff
			font-size: 0.92vw
			text-decoration: none
			display: inline-block
			span
				height: 45px
				float: left
				margin-right: 10px
				svg
					fill: #ffffff
					width: 1.3vw
					height: 45px
		a:hover
			transition: 0.3s all
			color: #4FB562
			svg
				transition: 0.3s all
				fill: #4FB562
		a:not(:hover)
			transition: 0.7s all
			svg
				transition: 0.7s all
				

.menu
	height: 135px
	
//иконка поиска
.search_icon
	height: 30%
	svg
		margin-top: 14px
		margin-left: 33.7%
		cursor: pointer
		width: 25px
		height: 25px
		fill: #B7B7B7
	svg:hover
		transition: 0.3s all
		fill: #0000ff
	svg:not(:hover)
		transition: 0.7s all

//левая часть меню
.left_menu
	width: 43%
	height: 100%
	float: left
	ul
		display: block
		height: 70%
		margin: 0 0
		padding: 0 0
		li
			float: left
			list-style: none
			font-family: 'Roboto Lt'
			font-size: 22px
			letter-spacing: -0.015em
			margin-top: 12px
			a
				padding: 8px 20px 10px
				border: 1px solid rgba(255, 255, 255, 0)
				border-radius: 25px
				color: #4a4a4a
				text-decoration: none
			a:hover
				transition: 0.3s all
				border: 1px solid #4a4a4a
			a:not(:hover)
				transition: 0.7s all
		li:nth-child(1)
			margin-left: 31.2%
		li:nth-child(2)
			margin-left: 3.3%
			letter-spacing: -0.01em
		li:nth-child(3)
			margin-left: 1.7%

//середина меню
.logo
	float: left
	height: 100%
	width: 14%
	text-align: center
	img
		margin-top: 14px

//правая часть
.right_menu
	.empty
		width: 100%
		height: 30%
		float: left
		display: block
	float: left
	height: 100%
	width: 43%
	ul
		display: block
		float: left
		height: 100%
		width: 45%
		margin: 0 0
		padding: 0 0
		li
			float: left
			list-style: none
			font-family: 'Roboto Lt'
			font-size: 22px
			letter-spacing: -0.015em
			margin-top: 12px
			a
				padding: 8px 20px 10px
				border: 1px solid rgba(255, 255, 255, 0)
				border-radius: 25px
				color: #4a4a4a
				text-decoration: none
			a:hover
				transition: 0.3s all
				border: 1px solid #4a4a4a
			a:not(:hover)
				transition: 0.7s all
		li:nth-child(2)
			margin-left: 3.2%
		li:nth-child(3)
			margin-left: 7%
			letter-spacing: -0.085em


//номер + кнопка заявки
.phone
	float: left
	width: 55%
	height: 100%
	font-family: 'Roboto Lt'
	div:nth-child(1)
		height: 30%
		padding-top: 10px
		padding-left: 17px
		a
			text-decoration: none
			color: #4a4a4a
			font-size: 22px
			letter-spacing: -0.03em
		a:hover
			transition: 0.3s all
			color: #0000ff
		a:not(:hover)
			transition: 0.7s all
	div:nth-child(2)
		padding-top: 8px
		padding-left: 8px
		span
			font-size: 18px
			color: #4a4a4a
			padding: 4px 20px 7px
			border: 2px solid transparent
			border-image: linear-gradient(to right, #008000 0%, #0000ff 100%)
			border-image-slice: 1
			cursor: pointer
		span:hover
			transition: 0.3s all
			box-shadow: 0 0 25px rgba(163,163,163,0.5)
		span:not(:hover)
			transition: 0.7s all

//высота слайдера мах 700px
.bx-viewport
	max-height: 700px

//наложение доп. слоя на слайдер
.slides
	position: relative

//текст по середине слайда сверху
.text_on_top
	position: absolute
	top: -20%
	left: 38%
	width: 24%
	height: 35%
	background-color: rgb(255, 255, 255)
	border-bottom-left-radius: 500px
	border-bottom-right-radius: 500px
	padding-top: 10.65%
	text-align: center
	z-index: 120
	span:nth-child(1)
		display: block
		font-family: 'Roboto'
		font-size: 40px
		text-transform: uppercase
		color: #494949
	span:nth-child(2)
		font-family: 'Roboto Reg'
		font-size: 20px
		display: block
		line-height: 1.12em
		margin-top: 3px
		color: #494949

//синий слой+текст слева на слайдере
.text_on_right
	position: absolute
	top: 0
	left: 50%
	width: 50%
	height: 56.3%
	background-color: rgba(0, 145, 255, 0.5)
	z-index: 100
	border-bottom-left-radius: 150px
	padding-top: 11.8%
	padding-left: 5.2%
	span:nth-child(1)
		display: block
		font-family: 'Roboto'
		font-size: 75px
		letter-spacing: 0.01em
		color: #FFFFFF
	span:nth-child(2)
		display: block
		margin-top: 0.75%
		font-family: 'Roboto Reg'
		font-size: 30px
		line-height: 1.6em
		letter-spacing: 0.01em
		color: #FFFFFF
		

//выравнивание картинки слайдера
.pic_up
	display: block
	margin-top: -180px